html, body {
    height: 100%;
}
.rounded-top-left {
    border-top-left-radius: var(--bs-border-radius) !important;
}
aside:not(.short) {
    width: 280px;
}
.left-0 {
    left: 0 !important;
}
.top-0 {
    top: 0 !important;
}
.right-0 {
    right: 0 !important;
}
.bottom-0 {
    bottom: 0 !important;
}